.warrior {
    color: #C69B6D
}

.paladin {
    color: #F48CBA
}

.hunter{
    color: #AAD372
}

.rogue{
    color: #FFF468
}

.priest{
    color: #FFFFFF
}

.death-knight{
    color: #C41E3A
}

.shaman{
    color: #0070DD
}

.mage{
    color: #3FC7EB
}

.warlock{
    color: #8788EE
}

.monk{
    color: #00FF98
}

.druid{
    color: #FF7C0A
}

.demon-hunter{
    color: #A330C9
}