.warrior {
    --class-colour: #C69B6D
}

.paladin {
    --class-colour: #F48CBA
}

.hunter{
    --class-colour: #AAD372
}

.rogue{
    --class-colour: #FFF468
}

.priest{
    --class-colour: #FFFFFF
}

.death-knight{
    --class-colour: #C41E3A
}

.shaman{
    --class-colour: #0070DD
}

.mage{
    --class-colour: #3FC7EB
}

.warlock{
    --class-colour: #8788EE
}

.monk{
    --class-colour: #00FF98
}

.druid{
    --class-colour: #FF7C0A
}

.demon-hunter{
    --class-colour: #A330C9
}